@import '../../styles/theme.scss';
@import '../../styles/mixins/index.scss';

.navbar-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: $gutter;
  .navbar {
    // display: grid;
    // grid-template-columns: 1fr 1fr 1fr;
    // column-gap: 2rem;
    // justify-items: center;
    display: flex;
    margin-top: gutter;
    background-color: $white;
    align-items: center;
    justify-content: space-between;
    color: $white;
    padding: $gutter 2rem;
    width: 80%;
    min-width: 50rem;
    .navbar--brand {
      h2 {
        color: $primary;
        padding: 0;
        margin: 0;
        div {
          font-size: 1.1rem;
        }
      }
    }
    .navbar--links {
      a {
        margin: 0 $gutter;
      }
      .svg-inline--fa {
        color: $primary;
        &:hover {
          color: $accent;
        }
        &:visited {
          color: $dark;
        }
      }
    }
    .navbar--user {
    }
  }
}
